.wrapper {
  max-width: 1320px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
.text--1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
}
.text--2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
}
.text--3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 142.857%;
}
.text--4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.text--main {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
.text--support {
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
}
.text--bold {
  font-size: 18px;
  font-weight: 500;
  line-height: 122.222%;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon--small {
  width: 20px;
  height: 20px;
}
